body {
  margin: 0px;
  background-image: url('../images/wood.jpeg');
}

/* start generic */
.bold {
  font-weight: bold;
}

/* */
#header {
  background: #3399FF;
  width: 100%;
  height: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#headerInfo {
  background: #3399FF;
  width: 950px;
  height: 100%;
  position: relative;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* start leftHeader : This is all the basic info */
#leftHeader {
  width: 400px;
  height: 100%;
}

#bigPicture {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
}

#playerLabel {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100px;
}

#lens {
  position: absolute;
  left: 100px;
  top: 40px;
  width: 100px;
}

#focus {
  position: absolute;
  left: 200px;
  top: 40px;
  width: 200px;
}

#legacyButton {
  position: absolute;
  left: 100px;
  top: 40px;
  width: 120px;
  height: 20px;
  text-align: center;
  border: solid 1px black;
  background: white;
}

#focusButton {
  position: absolute;
  left: 200px;
  top: 40px;
  width: 120px;
  height: 20px;
  text-align: center;
  border: solid 1px black;
  background: white;
}

/* end leftHeader */

/* start centerHeader : Players */
#centerHeader {
  position: absolute;
  top: 0px;
  left: 400px;
  width: 250px;
  height: 100%;
}

.player {
  position: relative;
  margin-left: 10px;
  float: left;
}

#legacyText {
  position: absolute;
  left: 10px;
  top: 40px;
  width: 230px;
}

/* end centerHeader */

/* start rightHeader : palette */
#rightHeader {
  position: absolute;
  top: 0px;
  left: 650px;
  width: 300px;
  height: 100%;
}

#yes_palette {
  position: absolute;
  z-index: 1;
  left: 6px;
  top: 10px;
  width: 145px;
  background: white;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
}

#yes_button {
  text-align: right;
  margin-right: 20px;
}

#yes_list {

}

#no_palette {
  position: absolute;
  z-index: 1;
  left: 153px;
  top: 10px;
  width: 145px;
  background: black;
  color: white;
  border: 1px solid black;
  border-bottom-right-radius: 5px;
}

#no_button {
  margin-left: 20px;
}

#no_list {
  display: none;
}

.list {
  display: none;
}

.item {
  margin-left: -20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* end rightHeader */
#game {
  position: absolute;
  overflow: auto;
}

/* start periods */
.period_container {
  position: absolute;
  width: 200px;
}

.period {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 120px;
  height: 200px;
  background: white;
}

.period_text {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  text-align: center;
}

.period_tone {
  position: absolute;
  top: 100px;
  left: 23px;
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 36px;
}

.period_textbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 96px;
  height: 80px;
  resize: none;
}

.period_done {
  position: absolute;
  left: 0px;
  top: 180px;
  width: 40px;
  text-align: center;
  border: 1px solid black
}

.period_done:hover {
  font-weight: bold;
  border: 2px solid black
}

.period_cancel {
  position: absolute;
  left: 69px;
  top: 180px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
}

.period_cancel:hover {
  font-weight: bold;
  border: 2px solid black;
}

.period_plus_container {
  position: absolute;
  top: 0px;
  width: 20px;
  height: 200px;
  color: white;
}

.period_plus {
  position: absolute;
  top: 90px;
  width: 20px;
  text-align: center;
  font-size: large;
}

.period_plus_left {
  left: 20px;
}

.period_plus_right {
  left: 160px;
}

.period_plus_event_container {
  position: absolute;
  top: 200px;
  left: 40px;
  width: 120px;
  height: 20px;
  color: white;
}

.period_plus_event {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 20px;
  text-align: center;
  font-size: large;
}

/* end periods */

/* start events */
.event_container {
  position: absolute;
  width: 200px;
  height: 200px;
}

.event {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 200px;
  height: 120px;
  background: white;
}

.event_text {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  text-align: center;
}

.event_tone {
  position: absolute;
  top: 70px;
  left: 80px;
  width: 38px;
  height: 38px;
  border: 1px solid black;
  border-radius: 20px;
}

.event_textbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 176px;
  height: 50px;
  resize: none;
}

.event_done {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 40px;
  text-align: center;
  border: 1px solid black;
}

.event_done:hover {
  font-weight: bold;
  border: 2px solid black;
}

.event_cancel {
  position: absolute;
  left: 149px;
  top: 100px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
}

.event_cancel:hover {
  font-weight: bold;
  border: 2px solid black;
}

.event_plus_container {
  position: absolute;
  left: 0px;
  width: 200px;
  height: 20px;
  color: white;
}

.event_plus {
  position: absolute;
  top: 0px;
  width: 200px;
  text-align: center;
  font-size: large;
}

.event_plus_top {
  top: 20px;
}

.event_plus_bottom {
  top: 160px;
}

.event_plus_scene_container {
  position: absolute;
  top: 40px;
  left: 200px;
  width: 20px;
  height: 120px;
  color: white;
}

.event_plus_scene {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 20px;
  text-align: center;
  font-size: large;
}

.scenes_placeholder {
  position: absolute;
  background: white;
  left: 40px;
  top: 0px;
  width: 120px;
  height: 200px;
}

.scenes_placeholder_number {
  position: absolute;
  left: 95px;
  top: 5px;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

/* end events */

/* start scenes */
#lightbox {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
}

.scenes_container {
  display: none;
  position: absolute;
  height: 230px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

#scenesHideScrollbar {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 50%;
  margin-top: -100px;
  height: 200px;
  width: 100%;
  z-index: 1002;
}

.scene_container {
  position: absolute;
  width: 160px;
  height: 200px;
}

.scene {
  position: absolute;
  width: 120px;
  height: 200px;
  left: 20px;
  top: 0px;
  background: white;
  font-size: small;
}

.scene_text {
  position: absolute;
  left: 10px;
  width: 100px;
  text-align: center;
}

.scene_line {
  position: absolute;
  left: 10px;
  width: 100px;
  height: 1px;
  background: black;
  border: 0;
}

.scene_tone {
  position: absolute;
  top: 170px;
  left: 90px;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 10px;
}

.scene_textbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 96px;
  height: 30px;
  resize: none;
}

.scene_done {
  position: absolute;
  left: 0px;
  top: 180px;
  width: 40px;
  text-align: center;
  font-size: medium;
  border: 1px solid black
}

.scene_done:hover {
  font-weight: bold;
  border: 2px solid black
}

.scene_cancel {
  position: absolute;
  left: 69px;
  top: 180px;
  width: 50px;
  text-align: center;
  font-size: medium;
  border: 1px solid black;
}

.scene_cancel:hover {
  font-weight: bold;
  border: 2px solid black;
}

.scene_plus_container {
  position: absolute;
  top: 0px;
  width: 20px;
  height: 200px;
  color: white;
}

.scene_plus {
  position: absolute;
  top: 90px;
  width: 20px;
  text-align: center;
  font-size: large;
}

.scene_plus_left {
  left: 0px;
}

.scene_plus_right {
  left: 140px;
}

/* end scenes */

/* start legacy */

#legacyContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 120px;
  margin-top: -60px;
  width: 200px;
  margin-left: -100px;
  z-index: 1002;
  display: none;
}

#oldLegacy {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 200px
  border: solid 1px black;
  background: white;
  text-align: center;
  display: none;
}

#oldLegacyText {
  position: relative;
  top: 50%;
  width: 180px;
  margin-top: -10px;
}

#oldLegacyKeep {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 40px;
  text-align: center;
  border: 1px solid black;
}

#oldLegacyKeep:hover {
  font-weight: bold;
  border: 2px solid black;
}

#newLegacy {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 120px;
  width: 200px;
  border: solid 1px black;
  background: white;
  text-align: center;
}

#newLegacyText {
  position: relative;
  top: 50%;
  width: 180px;
  margin-top: -10px;
}

#newLegacyTextbox {
  position: relative;
  top: 50%;
  width: 180px;
  height: 20px;
  margin-top: -10px;
  resize: none;
}

#newLegacyDone {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 40px;
  text-align: center;
  border: 1px solid black;
}

#newLegacyDone:hover {
  font-weight: bold;
  border: 2px solid black;
}

/* end legacy */

/* Start Focus */

#createFocus {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 120px;
  margin-top: -60px;
  width: 200px;
  margin-left: -100px;
  border: solid 1px black;
  background: white;
  text-align: center;
  z-index: 1002;
}

#createFocusTextbox {
  position: relative;
  top: 50%;
  width: 180px;
  height: 20px;
  margin-top: -10px;
  resize: none;
}

#createFocusDone {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 40px;
  text-align: center;
  border: 1px solid black;
}

#createFocusDone:hover {
  font-weight: bold;
  border: 2px solid black;
}

/* End focus */

/* Start big picture */

#createBigPicture {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 120px;
  margin-top: -60px;
  width: 200px;
  margin-left: -100px;
  border: solid 1px black;
  background: white;
  text-align: center;
  z-index: 1002;
}

#createBigPictureTitle {
  position: relative;
  top: 10px;
  width: 180px;
  text-align: center;
}

#createBigPictureText {
  position: relative;
  top: 40px;
  width: 180px;
  height: 40px;
  margin-top: -20px;
  resize: none;
}

#createBigPictureDone {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 40px;
  text-align: center;
  border: 1px solid black;
}

#createBigPictureDone:hover {
  font-weight: bold;
  border: 2px solid black;
}

/* End big picture */

/* Start palette */

#palette {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 120px;
  margin-top: -60px;
  width: 200px;
  margin-left: -100px;
  border: solid 1px black;
  background: white;
  text-align: center;
  z-index: 1002;
}

#paletteTitle {
  position: relative;
  top: 10px;
  width: 180px;
  text-align: center;
}

#paletteText {
  position: relative;
  top: 40px;
  width: 180px;
  height: 40px;
  margin-top: -20px;
  resize: none;
}

#paletteYes {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 60px;
  text-align: center;
  border: 1px solid black;
}

#paletteNo {
  position: absolute;
  left: 70px;
  top: 100px;
  width: 60px;
  text-align: center;
  border: 1px solid black;
}

#paletteSkip {
  position: absolute;
  left: 140px;
  top: 100px;
  width: 60px;
  text-align: center;
  border: 1px solid black;
}

#paletteYes:hover {
  width: 58px;
  font-weight: bold;
  border: 2px solid black;
}

#paletteNo:hover {
  width: 58px;
  font-weight: bold;
  border: 2px solid black;
}

#paletteSkip:hover {
  width: 58px;
  font-weight: bold;
  border: 2px solid black;
}

/* End palette */

.dark {
  background: black;
}

.highlighted {
  background: #FFFF33;
  color: black;
  opacity: 0.4;
}

.blackText {
  color: black;
}